
$size: 35;


body{
  color: #2c3e50;

  min-width: 920px;
}


.b-container{
  max-width: 880px;
  margin: 0 auto;
}
.b-canvas-wrapper{
  //background-color: #d0d0d0;
  width: 400px;
  height: 400px;
  //margin: 0 auto;
  margin-bottom: 2em;

  > svg{
    overflow: visible !important;

  }
}


.b-row{
  display: flex;
  margin: 0 -15px;
}

.b-col{

  float: left;
  padding: 0 15px;

  &-left{
    width: 50%;
  }
  &-right{
    width: 50%;
  }
}
.b-logo{
  margin-bottom: 2em;
  text-align: center;

}



.b-svg-ship{

  stroke: #00f;
  fill: rgba(0,0,255,.1);



  rx: 0;
  ry: 0;

  stroke-width: 2px;
  cursor: pointer;
  shape-rendering: crispEdges;



  &--moveble{
    //opacity: 0.2;

    stroke: #05e500;
    fill: rgba(30, 255, 0, 0.1);

  }

  &-shadow{
    opacity: 0.5;


    stroke: #05e500;
    fill: rgba(30, 255, 0, 0.1);

  }

}



.b-svg-grid{

  &-item{

    fill: #fff;
    stroke: #B4B4FF;
    stroke-width: 1px;
    shape-rendering: crispEdges;

    &--rival{
      cursor: pointer;
      &:hover{
        fill: rgba(30, 255, 0, 0.24);
        //stroke-width: 2px;
        //stroke: #05e500;
        //fill: rgba(30, 255, 0, 0.1);
      }
    }
    &--miss{

      fill: #e9ebef;


    }
  }

}

.b-grid{

  position: relative;

  &-table{
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: block;
    position: relative;
    width: 400px;
    height: 400px;

    margin-left: 30px;
    margin-top: 30px;

  }

  &-item{
    border: 1px solid #B4B4FF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;

    &-content{
      position: relative;
      height: 35px;
      width: 35px;


      font-size: 12px;

    }




    &--empty:hover &{


      &-content{
        &:after {
          border: 2px solid #40BF44;
          background: rgba(64,191,68,.05);
          position: absolute;


          width: #{$size}px;
          height: #{$size}px;

          top: 0;
          left: 0;
          margin: -2px;
          content: "";
          display: block;
          cursor: pointer;
          z-index: 2;

          box-sizing: content-box;

        }
      }

    }

    &--miss &{

      background: red;

      &-content{
        background-color: #d0d2d6;
      }
    }


    &--x{

      @for $i from 0 through 9 {
        &-#{$i} {
          left: #{$i*($size+1)}px
        }
      }

    }
    &--y{
      @for $i from 0 through 9 {
        &-#{$i} {
          top: #{$i*($size+1)}px
        }
      }
    }


  }
}